<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <!-- Paths to check -->
    <file>src</file>
    <file>test</file>
    <exclude-pattern>*/TestAsset/*</exclude-pattern>

    <!-- Include all rules from Laminas Coding Standard -->
    <rule ref="LaminasCodingStandard">
        <!--
        declare(strict_types=1) is too risky for a security-only component,
        and should only be reconsidered once this package receives new feature work.
        -->
        <exclude name="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.DeclareStrictTypesMissing"/>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFallbackGlobalName">
        <exclude-pattern>test/Http/UtilityTest.php</exclude-pattern>
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Http/RequestToken.php</exclude-pattern>
        <exclude-pattern>src/Http/UserAuthorization.php</exclude-pattern>
        <exclude-pattern>src/Http/AccessToken.php</exclude-pattern>
        <exclude-pattern>src/Http/Utility.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Signature/AbstractSignature.php</exclude-pattern>
        <exclude-pattern>src/Signature/Plaintext.php</exclude-pattern>
        <exclude-pattern>src/Signature/Hmac.php</exclude-pattern>
        <exclude-pattern>src/Token/AuthorizedRequest.php</exclude-pattern>
        <exclude-pattern>src/Token/Access.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingAnyTypeHint">
        <exclude-pattern>test/Http/RequestTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/AccessTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/UserAuthorizationTest.php</exclude-pattern>
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
    </rule>
    <rule ref="Generic.Formatting.MultipleStatementAlignment.NotSame">
        <exclude-pattern>test/Http/RequestTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/AccessTokenTest.php</exclude-pattern>
        <exclude-pattern>test/OAuthTest.php</exclude-pattern>
        <exclude-pattern>test/ConsumerTest.php</exclude-pattern>
        <exclude-pattern>test/Signature/PlaintextTest.php</exclude-pattern>
        <exclude-pattern>test/Signature/HMACTest.php</exclude-pattern>
        <exclude-pattern>test/Signature/AbstractTest.php</exclude-pattern>
        <exclude-pattern>test/Token/AuthorizedRequestTest.php</exclude-pattern>
        <exclude-pattern>test/Token/RequestTest.php</exclude-pattern>
        <exclude-pattern>test/Token/AccessTest.php</exclude-pattern>
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Http/Utility.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Token/AuthorizedRequest.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.Classes.NoNullValues.NullValue">
        <exclude-pattern>test/Http/RequestTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/AccessTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/UserAuthorizationTest.php</exclude-pattern>
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Http/RequestToken.php</exclude-pattern>
        <exclude-pattern>src/Http/AccessToken.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/OAuth.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Signature/AbstractSignature.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="PSR12.Operators.OperatorSpacing.NoSpaceBefore">
        <exclude-pattern>src/Consumer.php</exclude-pattern>
    </rule>
    <rule ref="PSR12.Operators.OperatorSpacing.NoSpaceAfter">
        <exclude-pattern>test/Http/RequestTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/AccessTokenTest.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Strings.ConcatenationSpacing.PaddingFound">
        <exclude-pattern>test/Http/RequestTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/AccessTokenTest.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment.InvalidReturnVoid">
        <exclude-pattern>src/Http/Utility.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.Arrays.DoubleArrow.SpacesBefore">
        <exclude-pattern>test/Http/RequestTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/AccessTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/UserAuthorizationTest.php</exclude-pattern>
        <exclude-pattern>test/ConsumerTest.php</exclude-pattern>
        <exclude-pattern>test/Config/StandardConfigurationTest.php</exclude-pattern>
        <exclude-pattern>test/Signature/PlaintextTest.php</exclude-pattern>
        <exclude-pattern>test/Signature/HMACTest.php</exclude-pattern>
        <exclude-pattern>test/Token/AuthorizedRequestTest.php</exclude-pattern>
        <exclude-pattern>src/Signature/Rsa.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.Arrays.TrailingArrayComma.MissingTrailingComma">
        <exclude-pattern>test/Http/RequestTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/AccessTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/UserAuthorizationTest.php</exclude-pattern>
        <exclude-pattern>test/OAuthTest.php</exclude-pattern>
        <exclude-pattern>test/ConsumerTest.php</exclude-pattern>
        <exclude-pattern>test/Config/StandardConfigurationTest.php</exclude-pattern>
        <exclude-pattern>test/Signature/PlaintextTest.php</exclude-pattern>
        <exclude-pattern>test/Signature/HMACTest.php</exclude-pattern>
        <exclude-pattern>test/Token/AuthorizedRequestTest.php</exclude-pattern>
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Signature/Rsa.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.Arrays.Format.BlankLineAtTheEnd">
        <exclude-pattern>test/Http/RequestTokenTest.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.WhiteSpace.CommaSpacing.NoSpaceAfterComma">
        <exclude-pattern>test/Http/RequestTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/AccessTokenTest.php</exclude-pattern>
        <exclude-pattern>test/Http/UserAuthorizationTest.php</exclude-pattern>
        <exclude-pattern>test/ConsumerTest.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment.WrongStyle">
        <exclude-pattern>test/Http/UtilityTest.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.Methods.LineAfter.BlankLinesAfter">
        <exclude-pattern>test/Http/AccessTokenTest.php</exclude-pattern>
        <exclude-pattern>test/OAuthTest.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.WhiteSpace.BlankLine.BlankLine">
        <exclude-pattern>test/OAuthTest.php</exclude-pattern>
        <exclude-pattern>src/Http/Utility.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.Formatting.StringClassReference.Found">
        <exclude-pattern>test/ConsumerTest.php</exclude-pattern>
        <exclude-pattern>test/Token/AccessTest.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.Arrays.Format.OneElementPerLine">
        <exclude-pattern>test/ConsumerTest.php</exclude-pattern>
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
    </rule>
    <rule ref="Generic.Arrays.ArrayIndent.CloseBraceNotNewLine">
        <exclude-pattern>test/ConsumerTest.php</exclude-pattern>
        <exclude-pattern>src/Client.php</exclude-pattern>
    </rule>
    <rule ref="PSR12.Classes.ClassInstantiation.MissingParentheses">
        <exclude-pattern>test/ConsumerTest.php</exclude-pattern>
        <exclude-pattern>test/Token/RequestTest.php</exclude-pattern>
        <exclude-pattern>test/Token/AccessTest.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/OAuth.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Token/AuthorizedRequest.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.Arrays.Format.ClosingBracketInNewLine">
        <exclude-pattern>test/ConsumerTest.php</exclude-pattern>
        <exclude-pattern>src/Client.php</exclude-pattern>
    </rule>
    <rule ref="PSR12.Classes.OpeningBraceSpace.Found">
        <exclude-pattern>src/Exception/BadMethodCallException.php</exclude-pattern>
        <exclude-pattern>src/Exception/InvalidArgumentException.php</exclude-pattern>
        <exclude-pattern>src/Exception/RuntimeException.php</exclude-pattern>
        <exclude-pattern>src/Exception/ExceptionInterface.php</exclude-pattern>
        <exclude-pattern>src/Token/TokenInterface.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.WhiteSpace.BraceBlankLine.SpacingAfterOpen">
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Exception/BadMethodCallException.php</exclude-pattern>
        <exclude-pattern>src/Exception/InvalidArgumentException.php</exclude-pattern>
        <exclude-pattern>src/Exception/RuntimeException.php</exclude-pattern>
        <exclude-pattern>src/Exception/ExceptionInterface.php</exclude-pattern>
        <exclude-pattern>src/Token/TokenInterface.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Commenting.ForbiddenAnnotations.AnnotationForbidden">
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Exception/ExceptionInterface.php</exclude-pattern>
        <exclude-pattern>src/Http/RequestToken.php</exclude-pattern>
        <exclude-pattern>src/Http/UserAuthorization.php</exclude-pattern>
        <exclude-pattern>src/Http/AccessToken.php</exclude-pattern>
        <exclude-pattern>src/Http/Utility.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/OAuth.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Config/ConfigInterface.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Signature/AbstractSignature.php</exclude-pattern>
        <exclude-pattern>src/Signature/Plaintext.php</exclude-pattern>
        <exclude-pattern>src/Signature/Rsa.php</exclude-pattern>
        <exclude-pattern>src/Signature/Hmac.php</exclude-pattern>
        <exclude-pattern>src/Token/AuthorizedRequest.php</exclude-pattern>
        <exclude-pattern>src/Token/Request.php</exclude-pattern>
        <exclude-pattern>src/Token/Access.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingAnyTypeHint">
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Config/ConfigInterface.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
     <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName">
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Http/UserAuthorization.php</exclude-pattern>
        <exclude-pattern>src/Http/AccessToken.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Token/AuthorizedRequest.php</exclude-pattern>
        <exclude-pattern>src/Token/Access.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.Arrays.DoubleArrow.AtTheEnd">
        <exclude-pattern>src/Client.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Operators.DisallowEqualOperators.DisallowedEqualOperator">
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Signature/AbstractSignature.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.NullableTypeForNullDefaultValue.NullabilityTypeMissing">
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Http/Utility.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Token/AuthorizedRequest.php</exclude-pattern>
        <exclude-pattern>src/Token/Request.php</exclude-pattern>
        <exclude-pattern>src/Token/Access.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment.ThrowsNoFullStop">
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
    </rule>
    <rule ref="Generic.Arrays.ArrayIndent.KeyIncorrect">
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
    </rule>
    <rule ref="Generic.Formatting.MultipleStatementAlignment.Incorrect">
        <exclude-pattern>src/Client.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment.ThrowsNotCapital">
        <exclude-pattern>src/Client.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.UselessAnnotation">
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Http/Utility.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Token/Access.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="WebimpressCodingStandard.PHP.CorrectClassNameCase.InvalidInPhpDocs">
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="Generic.Arrays.ArrayIndent.CloseBraceIncorrect">
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Variables.UselessVariable.UselessVariable">
        <exclude-pattern>src/Http/RequestToken.php</exclude-pattern>
        <exclude-pattern>src/Http/AccessToken.php</exclude-pattern>
        <exclude-pattern>src/Signature/Plaintext.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Operators.DisallowEqualOperators.DisallowedNotEqualOperator">
        <exclude-pattern>src/Http/Utility.php</exclude-pattern>
    </rule>
    <rule ref="PSR12.ControlStructures.ControlStructureSpacing.FirstExpressionLine">
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Config/StandardConfig.php</exclude-pattern>
        <exclude-pattern>src/Signature/AbstractSignature.php</exclude-pattern>
        <exclude-pattern>src/Token/Access.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment.MissingParamName">
        <exclude-pattern>src/Http.php</exclude-pattern>
        <exclude-pattern>src/Consumer.php</exclude-pattern>
    </rule>
    <rule ref="PSR12.Properties.ConstantVisibility.NotFound">
        <exclude-pattern>src/OAuth.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Commenting.RequireOneLinePropertyDocComment.MultiLinePropertyComment">
        <exclude-pattern>src/Consumer.php</exclude-pattern>
        <exclude-pattern>src/Token/AuthorizedRequest.php</exclude-pattern>
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Commenting.DocCommentSpacing.IncorrectLinesCountBetweenDescriptionAndAnnotations">
        <exclude-pattern>src/Signature/AbstractSignature.php</exclude-pattern>
    </rule>
    <rule ref="PSR12.ControlStructures.ControlStructureSpacing.FirstExpressionLine">
        <exclude-pattern>src/Token/AuthorizedRequest.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse">
        <exclude-pattern>src/Token/TokenInterface.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingAnyTypeHint">
        <exclude-pattern>src/Token/AbstractToken.php</exclude-pattern>
    </rule>
</ruleset>
